* {
  margin: 0px; }

.logo-base {
  padding: 10px 0px 0px 20px;
  width: 20%; }

nav {
  display: flex;
  background-color: #9AA3FAff;
  padding: 20px; }
  nav a {
    color: white;
    text-decoration: none; }
  nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center; }
    nav ul li {
      font-size: 20px;
      padding: 0px 20px; }

.section-1 {
  padding: 60px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .section-1 h1 {
    display: flex;
    margin: 0px;
    font-size: 60px;
    color: #9AA3FAff; }
  .section-1 p {
    font-size: 20px; }
  .section-1 .box-1-1 {
    display: flex; }
  .section-1 .box-1-2 {
    padding: 0px 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .section-1 .box-1-2 p {
      margin: 0px;
      margin-bottom: 40px; }
    .section-1 .box-1-2 a {
      text-decoration: none;
      color: white;
      padding: 15px 100px;
      background-color: #9AA3FAff; }

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .section-2 img {
    width: 25%;
    height: 25%; }
  .section-2 h2 {
    margin: 5px;
    font-size: 30px;
    color: #9AA3FAff;
    padding: 0px 20px;
    text-align: center; }
  .section-2 h3 {
    text-align: center;
    color: #172533ff;
    font-size: 50px; }
  .section-2 p {
    margin: 0px 20px;
    color: #172533ff;
    padding: 15px;
    background-color: #E4C9D6ff; }

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px; }
  .section-3 div {
    margin: 20px; }
  .section-3 p {
    font-size: 30px;
    color: #172533ff; }

.redes {
  margin: 25px;
  color: #9aa3faff;
  font-size: 45px;
  text-align: center; }

footer {
  background-image: url(../img/ImagenCielo.png);
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer a {
    padding: 20px;
    text-decoration: none;
    color: #E4c9d6ff;
    font-size: 20px; }
  footer p {
    color: #E4c9d6ff; }
    footer p a {
      font-size: 23px;
      padding: 5px; }
  footer div {
    margin: 15px 0px; }

.inicio {
  text-align: center;
  margin: 50px; }
  .inicio h1 {
    font-size: 60px;
    color: #9aa3faff;
    padding: 20px; }
  .inicio p {
    font-size: 20px; }

.marcas {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .marcas img {
    margin: 20px; }
  .marcas h2 {
    font-size: 45px;
    color: #9aa3faff;
    padding: 0px 0px 10px 0px; }
  .marcas p {
    padding: 0px 0px 0px 0px; }
  .marcas .mosaico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .marcas .mosaico-secundario {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.gral-form {
  display: flex;
  justify-content: center; }
  .gral-form fieldset {
    border: none;
    display: flex;
    flex-direction: column; }
  .gral-form form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gral-form label {
    color: #172533;
    font-size: 25px; }
  .gral-form div {
    display: flex;
    justify-content: space-between;
    margin: 5px; }
  .gral-form textarea {
    width: 550px;
    height: 150px; }
  .gral-form input {
    background-color: #E4C9D6ff;
    border: none;
    border-radius: 2px;
    padding: 7px; }
  .gral-form textarea {
    background-color: #e4c9d6dd;
    border: none;
    padding: 10px; }
  .gral-form .button-s {
    width: 250px !important; }

.carga {
  width: 100%;
  height: 100%;
  background-color: #172533;
  position: absolute;
  z-index: 1; }
  .carga img {
    width: 100%; }
  .carga .estrella1 {
    position: absolute;
    opacity: 0.2;
    z-index: 2;
    animation-name: estrella;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }
  .carga .estrella2 {
    position: absolute;
    opacity: 0.6;
    z-index: 3;
    animation-name: estrella2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }
  .carga .luna-lunera {
    position: absolute;
    width: 8%;
    height: auto;
    z-index: 5;
    top: 47.5%;
    right: 35%;
    animation-name: luna;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }
  .carga p {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 4; }

.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

@keyframes estrella {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes estrella2 {
  100% {
    opacity: 1; }
  0% {
    opacity: 0; } }

@keyframes luna {
  100% {
    opacity: 1; }
  50% {
    opacity: 0.7; }
  0% {
    opacity: 1; } }
