@charset "UTF-8";
* {
  margin: 0px; }

@font-face {
  font-family: "gbr";
  src: url(../fonts/GothamBlackRegular.ttf); }

@font-face {
  font-family: "gbold";
  src: url(../fonts/GothamBold.otf); }

@font-face {
  font-family: "gbolditalic";
  src: url(../fonts/GothamBoldItalic.ttf); }

@font-face {
  font-family: "gbook";
  src: url(../fonts/GothamBook.ttf); }

@font-face {
  font-family: "gbookitalic";
  src: url(../fonts/Gotham-BookItalic.otf); }

@font-face {
  font-family: "glight";
  src: url(../fonts/Gotham-Light.otf); }

@font-face {
  font-family: "glightitalic";
  src: url(../fonts/GothamLightItalic.ttf); }

@font-face {
  font-family: "gmedium";
  src: url(../fonts/GothamMedium.ttf); }

@font-face {
  font-family: "gmediumitalic";
  src: url(../fonts/GothamMediumItalic.ttf); }

@font-face {
  font-family: "gthin";
  src: url(../fonts/Gotham-Thin.otf); }

@font-face {
  font-family: "gthinitalic";
  src: url(../fonts/Gotham-ThinItalic.otf); }

@font-face {
  font-family: "gultraitalic";
  src: url(../fonts/Gotham-UltraItalic.otf); }

@font-face {
  font-family: "gxlight";
  src: url(../fonts/Gotham-XLight.otf); }

@font-face {
  font-family: "glightitalic";
  src: url(../fonts/Gotham-XLightItalic.otf); }

@font-face {
  font-family: "tenor";
  src: url(../fonts/TenorSans-Regular.ttf); }

.logo-base {
  padding: 10px 0px 0px 20px;
  width: 25%; }

nav {
  /*display: flex;*/
  background-color: #9AA3FAff; }
  nav a {
    color: white;
    text-decoration: none; }
  nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center; }
    nav ul li {
      font-size: 20px;
      padding: 0px 20px; }

.section-1 {
  padding: 60px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .section-1 h1 {
    display: flex;
    margin: 0px;
    color: #9AA3FAff;
    font-family: "gbr"; }
  .section-1 p {
    font-family: glight;
    font-size: 20px; }
  .section-1 .box-1-1 {
    display: flex; }
  .section-1 .box-1-2 {
    padding: 0px 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .section-1 .box-1-2 p {
      margin: 0px;
      margin-bottom: 40px; }
    .section-1 .box-1-2 a {
      text-decoration: none;
      color: white;
      padding: 15px 100px;
      background-color: #9AA3FAff;
      font-family: glight; }

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .section-2 img {
    width: 25%;
    height: 25%; }
  .section-2 h2 {
    margin: 5px;
    font-size: 30px;
    color: #9AA3FAff;
    padding: 0px 20px;
    text-align: center; }
  .section-2 h3 {
    text-align: center;
    color: #172533ff;
    font-size: 40px;
    font-family: gbold; }
  .section-2 p {
    margin: 0px 20px;
    color: #172533ff;
    padding: 15px;
    background-color: #E4C9D6ff;
    font-family: gbook; }
  .section-2 .accordion-body {
    font-family: gbook; }

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px; }
  .section-3 div {
    margin: 20px; }
  .section-3 p {
    font-size: 30px;
    color: #172533ff;
    font-family: gbold; }

.redes {
  margin: 25px;
  color: #9aa3faff;
  font-size: 45px;
  text-align: center; }

footer {
  background-image: url(../img/ImagenCielo.png);
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer a {
    padding: 20px;
    text-decoration: none;
    color: #E4c9d6ff;
    font-size: 20px; }
  footer p {
    color: #E4c9d6ff; }
    footer p a {
      font-size: 23px;
      padding: 5px; }
  footer div {
    margin: 15px 0px; }

.inicio {
  text-align: center;
  margin: 50px; }
  .inicio h1 {
    font-size: 50px;
    color: #9aa3faff;
    padding: 20px;
    font-family: "gbr"; }
  .inicio p {
    font-size: 20px;
    font-family: glight; }

.marcas {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .marcas img {
    margin: 20px; }
  .marcas h2 {
    font-size: 45px;
    color: #9aa3faff;
    padding: 0px 0px 10px 0px;
    font-family: "gbr"; }
  .marcas p {
    padding: 0px 0px 0px 0px;
    font-family: glight; }
  .marcas .mosaico {
    display: flex;
    justify-content: center;
    align-items: center; }
  .marcas .mosaico-secundario {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.gral-form {
  display: flex;
  justify-content: center; }
  .gral-form fieldset {
    border: none;
    display: flex;
    flex-direction: column; }
  .gral-form form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gral-form label {
    color: #172533;
    font-size: 25px; }
  .gral-form div {
    display: flex;
    justify-content: space-between;
    margin: 5px; }
  .gral-form textarea {
    width: 550px;
    height: 150px; }
  .gral-form input {
    background-color: #E4C9D6ff;
    border: none;
    border-radius: 2px;
    padding: 7px; }
  .gral-form textarea {
    background-color: #e4c9d6dd;
    border: none;
    padding: 10px; }
  .gral-form .button-s {
    width: 250px !important; }

.carga {
  width: 100%;
  height: 100%;
  background-color: #172533;
  position: absolute;
  z-index: 1; }
  .carga img {
    width: 100%;
    height: 100%; }
  .carga .estrella1 {
    width: 20px;
    top: 37%;
    right: 15%;
    height: auto;
    position: absolute;
    opacity: 0.2;
    z-index: 2;
    animation-name: estrella;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }
  .carga .estrella2 {
    width: 50px;
    top: 38%;
    right: 13%;
    height: auto;
    transform: rotate(348deg);
    position: absolute;
    opacity: 0.6;
    z-index: 3;
    animation-name: estrella2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }
  .carga .luna-lunera {
    position: absolute;
    width: 8%;
    height: auto;
    z-index: 5;
    top: 47.5%;
    right: 35%;
    animation-name: luna;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite; }
  .carga #marca {
    font-family: gbr; }
  .carga p {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 4;
    animation-name: luna;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-family: gthin; }

.seve {
  visibility: visible; }

.noseve {
  display: none;
  visibility: collapse; }

@keyframes estrella {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@keyframes estrella2 {
  100% {
    opacity: 0.2; }
  0% {
    opacity: 0; } }

@keyframes luna {
  100% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  0% {
    opacity: 1; } }

@keyframes tipo {
  100% {
    opacity: 1; }
  0% {
    opacity: 0.5; } }

@media (max-width: 600px) {
  /* pre-carga */
  .carga p {
    font-size: 55px;
    top: 43%;
    width: 70%; }
  .carga .luna-lunera {
    width: 25%;
    top: 42.5%;
    right: 13%; }
  /*end carga*/
  /* nav */
  nav ul {
    flex-direction: column;
    text-align: center; }
  .logo-base {
    padding: 0px 20px;
    width: 150px; }
  /*home*/
  .carousel {
    margin-top: 85px; }
  .section-1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-1 .box-1-1 {
      text-align: center;
      padding-bottom: 20px; }
    .section-1 .box-1-2 {
      text-align: center;
      align-items: center; }
      .section-1 .box-1-2 a {
        border-radius: 5px; }
  .section-2 {
    flex-direction: column;
    align-items: center; }
    .section-2 img {
      width: 80%;
      height: auto;
      border-radius: 15px; }
  .section-3 p {
    text-align: center; }
  .section-3 div {
    text-align: center; }
    .section-3 div img {
      margin: 10px 0px; }
  /*end home*/
  /*branding & diseño*/
  .inicio {
    margin: 0px; }
    .inicio h1 {
      margin-top: 60px;
      font-size: 40px; }
    .inicio p {
      margin: 10px;
      margin: -15px 10px 40px; }
    .inicio a {
      margin: 20px;
      text-decoration: none;
      color: white;
      padding: 15px 100px;
      background-color: #9AA3FAff; }
  .marcas {
    margin: 40px 10px; }
    .marcas h2 {
      text-align: center; }
    .marcas p {
      text-align: center; }
    .marcas img {
      margin: 5px; }
    .marcas .img-sec {
      width: 50%; }
    .marcas .mosaico {
      flex-direction: column; }
      .marcas .mosaico .img-prin {
        width: 85%;
        height: auto; }
      .marcas .mosaico .mosa-sec {
        justify-content: center; }
    .marcas .mosaico-secundario {
      flex-direction: column; }
      .marcas .mosaico-secundario .mosa-sec {
        display: flex;
        align-items: center;
        margin: 10px; }
  /*end branding & diseño*/
  /*produccion*/
  .h1-p {
    font-size: 20px; }
  iframe {
    width: 85%;
    height: 80%; }
  .p-img {
    margin: 0;
    width: 45%; }
  .mosa-sec-pro {
    justify-content: center; }
  /*fin produccion*/
  /*contacto*/
  .gral-form textarea {
    width: 330px;
    height: 150px;
    margin-bottom: 30px; }
  /*fin contacto*/
  footer {
    margin: 0px; }
    footer .foot-sec {
      display: flex;
      flex-direction: row; }
    footer p {
      text-align: center; } }

@media (min-width: 768px) {
  /* pre-carga */
  .carga p {
    font-size: 55px;
    top: 43.5%;
    width: 90%; }
  .carga .luna-lunera {
    width: 15%;
    top: 41.5%;
    right: 28%; }
  .carga .estrella1 {
    right: 30%; }
  .carga .estrella2 {
    right: 29%; }
  /*end carga*/
  /*header*/
  .logo-base {
    padding: 0px;
    width: 100%; }
  .navbar {
    --bs-navbar-color: #ffffff !important; }
  /*end header*/
  /*home*/
  .carousel {
    margin-top: 100px; }
  .section-1 {
    padding: 40px 30px; }
    .section-1 h1 {
      font-size: 70px;
      text-align: center; }
    .section-1 .box-1-1 {
      align-items: center; }
    .section-1 .box-1-2 {
      align-items: center; }
      .section-1 .box-1-2 p {
        text-align: center; }
  .section-2 {
    align-items: center; }
    .section-2 h3 {
      font-size: 18px; }
  .section-3 div {
    text-align: center; }
    .section-3 div img {
      margin: 10px; }
  /*end home*/
  /*branding & diseño*/
  .marcas {
    text-align: center; }
    .marcas p {
      margin: 10px 25px; }
    .marcas img {
      width: 75%;
      margin: 5px; }
  /*end brandig & diseño*/
  /*producciones*/
  .p-mo-i {
    flex-direction: column; }
    .p-mo-i .mo-iframe {
      flex-direction: row; }
      .p-mo-i .mo-iframe .mosa-sec-pro {
        display: flex; }
    .p-mo-i iframe {
      width: 100%;
      height: 360px; }
    .p-mo-i .p-img {
      width: 100%; }
  /*end producciones*/
  /*contacto*/
  .button-s {
    margin: 20px; }
  /*end contacto*/ }

@media (min-width: 1024px) {
  /* pre-carga */
  .carga p {
    font-size: 45px;
    top: 43.5%;
    width: 90%; }
  .carga .luna-lunera {
    width: 10%;
    top: 41.5%;
    right: 36%; }
  .carga .estrella1 {
    right: 36.5%; }
  .carga .estrella2 {
    right: 36%; }
  /*end carga*/
  /*header*/
  .logo-base {
    padding-left: 20px;
    width: 45%; }
  /*end header*/
  /*home*/
  .carousel {
    margin-top: 110px; }
  .section-1 {
    margin-top: 60px;
    margin-bottom: 80px; }
    .section-1 h1 {
      font-size: 120px; }
    .section-1 .box-1-2 {
      justify-content: center;
      align-items: center;
      padding: 0px 100px; }
  .section-2 {
    align-items: center; }
    .section-2 .cpa {
      width: 360px; }
  /*end home*/
  /*branding & diseño*/
  .marcas {
    text-align: center; }
    .marcas .mosaico {
      margin: 40px; }
      .marcas .mosaico .img-prin {
        width: 48.5%; }
      .marcas .mosaico .img-sec {
        width: 94%; }
      .marcas .mosaico .mosaico-secundario {
        flex-direction: row; }
  /*end brandig & diseño*/
  /*producciones*/
  .p-mo-i {
    width: 800px;
    flex-direction: column; }
    .p-mo-i .mo-iframe {
      flex-direction: row; }
      .p-mo-i .mo-iframe .mosa-sec-pro {
        display: flex; }
    .p-mo-i iframe {
      width: 80%;
      height: 360px; }
    .p-mo-i .p-img {
      width: 180px; }
  /*end producciones*/ }

@media (min-width: 1440px) {
  /* pre-carga */
  .carga p {
    font-size: 45px;
    top: 48.5%;
    width: 90%; }
  .carga .luna-lunera {
    width: 5%;
    top: 46.5%;
    right: 43%; }
  .carga .estrella1 {
    top: 44%;
    right: 42.5%; }
  .carga .estrella2 {
    top: 45%;
    right: 42.5%; }
  /*end carga*/
  /*header*/
  .logo-base {
    padding-left: 30px;
    width: 25%; }
  /*end header*/
  /*home*/
  .carousel {
    margin-top: 150px; }
  .section-2 {
    align-items: center; }
    .section-2 h3 {
      font-size: 65px; }
    .section-2 .cpa {
      width: 600px; }
  /*end home*/
  /*branding & diseño*/
  .inicio {
    margin: 110px; }
  .marcas {
    text-align: center;
    margin-bottom: 80px; }
    .marcas .mosaico {
      margin: 40px; }
      .marcas .mosaico .img-prin {
        width: 55%; }
      .marcas .mosaico .img-sec {
        width: 100%; }
      .marcas .mosaico .mosa-sec {
        margin: 10px; }
  /*end brandig & diseño*/
  /*producciones*/
  .p-mo-i {
    width: 800px;
    flex-direction: column; }
    .p-mo-i .mo-iframe {
      flex-direction: row; }
      .p-mo-i .mo-iframe .mosa-sec-pro {
        display: flex; }
    .p-mo-i iframe {
      width: 80%;
      height: 360px; }
    .p-mo-i .p-img {
      width: 180px; }
  /*end producciones*/ }
