.inicio {
    text-align: center;
    margin: 50px;


    h1 {
        font-size: 50px;
        color: #9aa3faff;
        padding: 20px;
        font-family: "gbr";
    }

    p {
        font-size: 20px;
        font-family: glight;
    }
}

.marcas {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img { 
        margin: 20px;
    }

    h2 { 
        font-size: 45px;
        color: #9aa3faff;
        padding: 0px 0px 10px 0px;
        font-family: "gbr";
    }

    p {
        padding: 0px 0px 0px 0px;
        font-family: glight;
    }

    .mosaico {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mosaico-secundario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}