.carga { 
    width: 100%;
    height: 100%;
    background-color: #172533;
    position: absolute;
    z-index: 1;

    
    img {
        width: 100%;
        height: 100%;
    }
    
    .estrella1 {
        width: 20px;
        top: 37%;
        right: 15%;
        height: auto;
        position: absolute;
        opacity: 0.2;
        z-index: 2;
        animation-name: estrella;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    
    .estrella2 {
        width: 50px;
        top: 38%;
        right: 13%;
        height: auto;
        transform: rotate(348deg);
        position: absolute;
        opacity: 0.6;
        z-index: 3;
        animation-name: estrella2;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    .luna-lunera {
        position: absolute;
        width: 8%;
        height: auto;
        z-index: 5;
        top: 47.5%;
        right: 35%;
        animation-name: luna;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }


    p {
        font-size: 60px;
        color: white;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        z-index: 4;
        animation-name: luna;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        font-family: gthin;
    }

    #marca {
        font-family: gbr;
    }
}

.seve {
    visibility: visible;
}

.noseve { 
    display: none;
    visibility: collapse;
}