@media (min-width:768px){

/* pre-carga */
    
.carga {

    p {
        font-size: 55px;
        top: 43.5%;
        width: 90%;
    }

    .luna-lunera {
        width: 15%;
        top: 41.5%;
        right: 28%;
    }

    .estrella1 {
        right: 30%;
    }

    .estrella2 {
        right: 29%;
    }


}

/*end carga*/

/*header*/

    .logo-base {
        padding: 0px;
        width: 100%;
    }

    .navbar {       
       --bs-navbar-color: #ffffff !important;
    }

    .c-link {
        color: #ffffff;
    }

/*end header*/

/*home*/

    .carousel {
        margin-top: 100px;
    }

    .section-1 {
        padding: 40px 30px;

        h1{
            font-size: 70px;
            text-align: center;
        }

        .box-1-1 {
            align-items: center;
        }

        .box-1-2 {
            align-items: center;            

            p{
                text-align: center;
            }
        }
    }

    .section-2 {
        align-items: center;

        h3{
            font-size: 18px;
        }
    }

    .section-3 {

        div{
            text-align: center;

            img{
                margin: 10px;
            }
        }
    }

/*end home*/

/*branding & diseño*/

    .marcas {
        text-align: center;

        p {
            margin: 10px 25px;
        }

        img {
            width: 75%;
            margin: 5px;
        }
    }

/*end brandig & diseño*/

/*producciones*/

    .p-mo-i {
        flex-direction: column;

        .mo-iframe {
            flex-direction: row;

            .mosa-sec-pro {
                display: flex;
            }
        }

        iframe {
            width: 580px;
            height: 300px;
        }

        .p-img {
            width: 100%;
        }
    }

/*end producciones*/

/*contacto*/

    .button-s {
        margin: 20px;
    }

/*end contacto*/



}