.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
        width: 25%;
        height: 25%;
    }

    h2 {
        margin: 5px;
        font-size: 30px;
        color: #9AA3FAff; 
        padding: 0px 20px;
        text-align: center;
    }

    h3 {
        text-align: center;
        color:#172533ff;
        font-size: 40px;
        font-family: gbold;
    }

    p {
        margin: 0px 20px;
        color: #172533ff;
        padding: 15px;
        background-color: #E4C9D6ff;
        font-family: gbook;
    }

    .accordion-body {
        font-family: gbook;
    }
}